@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #A2B8B2;
}
#main{
    background:url("../app/assets/wave.svg") ;
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
}
*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;


}


@media only screen and (max-width: 600px) {
    #main{
        height: 35vh;
        width: 100%;
        background-size: cover;
        margin-bottom: 50px;
    }}